################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/SistemaDeGestionDeCandidatos/FileContentIndex/7136a5fb-91ee-43c4-b715-458db6566a08.vsidx
/.vs/SistemaDeGestionDeCandidatos/FileContentIndex
